In [1]:
#통합 파일 불러오기
import pandas as pd

df = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\0723대학원제외통합_일반화하기.xlsx")

In [2]:
#파일 상태 확인
df.head()

,학교,단과대학,학과,신입생 충원율(%),신입생 경쟁률,중도탈락률(%),졸업생 취업률(%),졸업생 진학률(%),전임교원 1인당 논문 실적 연구재단등재지(후보포함) 계,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 계,1인당 연구비(천원),정규학기 전임교원 비율 평균,계절학기 전임교원 비율 평균,전체학기 전임교원 비율 평균
0,가야대학교(김해),단과대구분없음,간호학과,100.0,9.0,4.5,85.9,0.0,0.5446,0.0393,900.0,76.00,100.0,88.00
1,가야대학교(김해),단과대구분없음,경영물류학과,NaN,NaN,16.7,70.4,0.0,0.3750,0.0000,1125.0,100.00,NaN,100.00
2,가야대학교(김해),단과대구분없음,경찰소방학과,NaN,NaN,31.9,31.3,0.0,0.3333,0.0000,13110.0,87.60,NaN,87.60
3,가야대학교(김해),단과대구분없음,교양학부,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0,45.85,NaN,45.85
4,가야대학교(김해),단과대구분없음,귀금속주얼리학과,NaN,NaN,8.7,57.9,0.0,0.6667,0.0000,1500.0,46.55,NaN,46.55

In [ ]:
#파일의 학교명 확인하기
df['학교'].unique()

array(['가야대학교(김해)', '가천대학교', '가톨릭관동대학교', '가톨릭꽃동네대학교', '가톨릭대학교',
       '가톨릭대학교_제2캠퍼스', '가톨릭대학교_제3캠퍼스', '감리교신학대학교', '강남대학교', '강서대학교',
       '강원대학교', '강원대학교_제2캠퍼스', '건국대학교', '건국대학교(글로컬)_분교', '건양대학교',
       '건양대학교_제2캠퍼스', '건양사이버대학교', '경기대학교', '경기대학교_제2캠퍼스', '경남과학기술대학교',
       '경남대학교', '경동대학교', '경동대학교_제3캠퍼스', '경동대학교_제4캠퍼스', '경북대학교', '경상국립대학교',
       '경성대학교', '경운대학교', '경인교육대학교', '경인교육대학교_제2캠퍼스', '경일대학교', '경희대학교',
       '경희사이버대학교', '계명대학교', '고려대학교', '고려대학교(세종)_분교', '고려사이버대학교', '고신대학교',
       '공주교육대학교', '광신대학교', '광운대학교', '광주가톨릭대학교', '광주과학기술원', '광주교육대학교',
       '광주대학교', '광주여자대학교', '국립강릉원주대학교', '국립강릉원주대학교_제2캠퍼스', '국립경국대학교',
       '국립공주대학교', '국립군산대학교', '국립금오공과대학교', '국립목포대학교', '국립목포해양대학교',
       '국립부경대학교', '국립순천대학교', '국립창원대학교', '국립한국교통대학교', '국립한국해양대학교',
       '국립한밭대학교', '국민대학교', '국제사이버대학교', '극동대학교', '글로벌사이버대학교', '금강대학교',
       '김천대학교', '나사렛대학교', '남부대학교', '남서울대학교', '단국대학교', '단국대학교_제2캠퍼스',
       '대구가톨릭대학교', '대구경북과학기술원', '대구교육대학교', '대구대학교', '대구사이버대학교', '대구예술대학교',
       '대구한의대학교', '대신대학교', '대전가톨릭대학교', '대전대학교', '대전신학대학교', '대진대학교',
       '덕성여자대학교', '동국대학교', '동국대학교(WISE)_분교', '동덕여자대학교', '동명대학교', '동서대학교',
       '동신대학교', '동아대학교', '동양대학교', '동의대학교', '디지털서울문화예술대학교', '루터대학교',
       '명지대학교', '명지대학교_제2캠퍼스', '목원대학교', '목포가톨릭대학교', '배재대학교', '백석대학교',
       '부산가톨릭대학교', '부산교육대학교', '부산대학교', '부산디지털대학교', '부산외국어대학교', '부산장신대학교',
       '사이버한국외국어대학교', '삼육대학교', '상명대학교', '상명대학교_제2캠퍼스', '상지대학교', '서강대학교',
       '서경대학교', '서울과학기술대학교', '서울교육대학교', '서울기독대학교', '서울대학교', '서울디지털대학교',
       '서울사이버대학교', '서울시립대학교', '서울신학대학교', '서울여자대학교', '서울장신대학교', '서울한영대학교',
       '서원대학교', '선문대학교', '성결대학교', '성공회대학교', '성균관대학교', '성신여자대학교', '세명대학교',
       '세종대학교', '세종사이버대학교', '세한대학교', '송원대학교', '수원가톨릭대학교', '수원대학교',
       '숙명여자대학교', '순복음총회신학교', '순천향대학교', '숭실대학교', '숭실사이버대학교', '신경주대학교',
       '신라대학교', '신한대학교', '신한대학교_제2캠퍼스', '아신대학교', '아주대학교', '안양대학교',
       '안양대학교_제2캠퍼스', '연세대학교', '연세대학교(미래)_분교', '영남대학교', '영남신학대학교',
       '영산대학교', '영산대학교(양산)_제2캠퍼스', '영산대학교(해운대)', '영산대학교_제2캠퍼스', '영산선학대학교',
       '예수대학교', '예원예술대학교', '예원예술대학교_제2캠퍼스', '용인대학교', '우석대학교', '우송대학교',
       '울산과학기술원', '울산대학교', '원광대학교', '원광디지털대학교', '위덕대학교', '유원대학교', '을지대학교',
       '을지대학교_제2캠퍼스', '을지대학교_제3캠퍼스', '이화여자대학교', '인제대학교', '인천가톨릭대학교',
       '인천가톨릭대학교_제2캠퍼스', '인천대학교', '인하대학교', '장로회신학대학교', '전남대학교',
       '전남대학교_제2캠퍼스', '전북대학교', '전주교육대학교', '전주대학교', '정석대학', '제주국제대학교',
       '제주대학교', '조선대학교', '중부대학교', '중앙대학교', '중앙대학교_제2캠퍼스', '중앙승가대학교',
       '중원대학교', '진주교육대학교', '차의과학대학교', '창신대학교', '청운대학교', '청주교육대학교',
       '청주대학교', '초당대학교', '총신대학교', '추계예술대학교', '춘천교육대학교', '충남대학교', '충북대학교',
       '칼빈대학교', '태재대학교', '평택대학교', '포항공과대학교', '한경국립대학교', '한국공학대학교',
       '한국과학기술원', '한국교원대학교', '한국기술교육대학교', '한국방송통신대학교', '한국성서대학교',
       '한국에너지공과대학교', '한국열린사이버대학교', '한국예술종합학교', '한국외국어대학교', '한국전통문화대학교',
       '한국체육대학교', '한국침례신학대학교', '한국항공대학교', '한남대학교', '한동대학교', '한라대학교',
       '한림대학교', '한서대학교', '한성대학교', '한세대학교', '한신대학교', '한양대학교',
       '한양대학교(ERICA)_분교', '한양사이버대학교', '한일장신대학교', '협성대학교', '호남대학교',
       '호남신학대학교', '호서대학교', '호원대학교', '홍익대학교', '홍익대학교_제2캠퍼스', '화성의과학대학교',
       '화신사이버대학교'], dtype=object)

In [ ]:
#폐과 데이터 포함되지 않았으므로 생략
# df_clean = df[df['학과상태_2023'] != '폐과']

In [ ]:
#원하는 대학교 리스트에 작성
univ_list =['홍익대학교', '홍익대학교_제2캠퍼스''경희대학교',
       '경희사이버대학교', '계명대학교', '고려대학교', '고려대학교(세종)_분교', '고려사이버대학교']


#원하는 대학교만 선택
df_selected = df[df['학교'].isin(univ_list)]

In [ ]:
#지역 또는 국립대로 묶을 시
#national_univ = [''] 으로 국립대 리스트 작성
# gw_univ = [''] 으로 강원권 대학 리스트 작성 하여 위치 추가 코드 실행

#위치 추가 코드
#df_selected['위치'] = df_selected['학교'].apply(lambda x: '국립대' if x in national_univ else ('강원권 대학' if x in gw_univ else '강릉원주대'))


#이 옵션이 없으려면, 애초에 데이터에 지역 정보 포함시키기

In [14]:
#원하는 학과 선택
#정확한 학과명보다는 국어국문학 같이 비슷한 학과명도 포함되도록 설정
df_selected_major = df_selected[df_selected['학과'].str.contains('컴퓨터' ,na=False)]

In [ ]:
#검색용 코드
#df_selected_major[(df_selected_major['학과'].str.contains('경영')) & (df_selected_major['학교'] == '강원대학교')]

In [ ]:
#필터링 된 값 확인 (필수)
df_selected_major

,학교,단과대학,학과,신입생 충원율(%),신입생 경쟁률,중도탈락률(%),졸업생 취업률(%),졸업생 진학률(%),전임교원 1인당 논문 실적 연구재단등재지(후보포함) 계,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 계,1인당 연구비(천원),정규학기 전임교원 비율 평균,계절학기 전임교원 비율 평균,전체학기 전임교원 비율 평균
2542,경희사이버대학교,단과대구분없음,컴퓨터정보통신공학전공,0.0,0.0,13.6,86.4,0.00,NaN,NaN,NaN,47.20,NaN,47.20
2680,계명대학교,공과대학,컴퓨터공학과,NaN,NaN,NaN,NaN,NaN,0.1500,0.4303,90946.30,NaN,NaN,NaN
2681,계명대학교,공과대학,컴퓨터공학전공,100.0,10.3,3.4,47.4,8.62,NaN,NaN,NaN,87.25,0.0,43.62
2785,고려대학교,사범대학,컴퓨터교육과,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2786,고려대학교,정보통신대학,컴퓨터통신공학부,NaN,NaN,0.0,100.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2787,고려대학교,정보대학,컴퓨터학과,100.0,12.4,3.6,80.0,21.53,0.0000,0.0000,3000.00,64.90,100.0,82.45
2861,고려대학교(세종)_분교,과학기술대학,컴퓨터융합소프트웨어학과,100.0,9.5,5.2,75.0,16.67,0.0000,0.6018,45833.33,59.30,100.0,79.65
2862,고려대학교(세종)_분교,과학기술대학,컴퓨터정보학과,NaN,NaN,7.7,76.5,7.89,NaN,NaN,NaN,NaN,NaN,NaN
2892,고려사이버대학교,단과대구분없음,컴퓨터공학부,NaN,NaN,NaN,NaN,NaN,0.0000,0.5000,0.00,NaN,NaN,NaN
16534,홍익대학교,공과대학,정보컴퓨터공학부,NaN,NaN,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16535,홍익대학교,공과대학,정보컴퓨터공학부 산업공학전공,NaN,NaN,2.6,64.3,6.45,NaN,NaN,NaN,100.00,NaN,100.00
16536,홍익대학교,공과대학,정보컴퓨터공학부 컴퓨터공학전공,NaN,NaN,0.8,68.5,2.61,NaN,NaN,NaN,98.00,NaN,98.00
16538,홍익대학교,공과대학,컴퓨터공학과,100.0,14.0,6.6,66.7,0.00,0.3026,0.3791,82712.56,89.25,NaN,89.25
16539,홍익대학교,공과대학,컴퓨터데이터공학부,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16540,홍익대학교,공과대학,컴퓨터데이터공학부 산업데이터공학전공,NaN,NaN,0.0,66.7,25.00,NaN,NaN,NaN,100.00,NaN,100.00
16541,홍익대학교,공과대학,컴퓨터데이터공학부 컴퓨터공학전공,NaN,NaN,0.0,67.4,5.88,NaN,NaN,NaN,91.15,NaN,91.15

In [ ]:
#지역에 맞추어 평균 내기


# # '국립대'와 '강원권 대학'만 필터링
# df_filtered = df_selected_major[df_selected_major['위치'].isin(['국립대', '강원권 대학'])]

# # 2. 강릉원주대 필터링 (학교명에 정확히 일치하는 경우)
# df_gwnu = df_selected_major[df_selected_major['위치'] == '강릉원주대']

# # 숫자형 열만 대상으로 평균 계산
# numeric_cols = df_filtered.select_dtypes(include='number').columns

# # 위치별 평균 계산
# grouped_avg = df_filtered.groupby('위치')[numeric_cols].mean().round(2)

# # 5. 강릉원주대 평균만 추출
# gwnu_avg = df_gwnu[numeric_cols].mean().to_frame().T
# gwnu_avg.index = ['국립강릉원주대학교']  # index 명시

# # 6. 세 행 결합
# grouped_avg = pd.concat([grouped_avg, gwnu_avg]).round(2)
# grouped_avg['학과'] = '국어국문학과'