### [학과경쟁력분석 지표 병합]
    학과별로 생성된 다양한 정량 지표들을 학교, 단과대학, 학과를 기준으로 병합합니다.
    각 지표별 결과물을 불러온 뒤, 컬럼명을 통일하고 기준 열을 중심으로 병합하는 과정을 반복하여 통합 데이터프레임을 생성합니다.

    ※ 단, 재학생 충원율는 계열 단위 데이터이므로 학과 기준 병합 대상에서 제외됩니다.

### 신입생 충원율 및 경쟁률과 중도탈락률 병합하기

In [162]:
#학교명 기준

#'강원대학교', '강원대학교 _제2캠퍼스', '경북대학교', '경상국립대학교', '국립강릉원주대학교',
#'국립강릉원주대학교 _제2캠퍼스', '부산대학교', '전남대학교', '전남대학교 _제2캠퍼스', '전북대학교',
#'제주대학교', '충남대학교', '충북대학교', '가톨릭관동대학교', '경동대학교', '경동대학교 _제3캠퍼스',
#'경동대학교 _제4캠퍼스', '상지대학교', '연세대학교(미래) _분교', '한라대학교', '한림대학교'

In [1]:
import pandas as pd

# 파일 불러오기
df_freshman = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\신입생충원율,신입생경쟁률\0715 신입생충원율경쟁률_기준연도 2023.xlsx")
df_dropout = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\중도탈락률\0715 중도탈락률 재시도.xlsx")

# 열 이름 통일하기
df_freshman.rename(columns={'학과\n(모집단위)': '학과'}, inplace=True)
df_dropout.rename(columns={'학과\n(전공)': '학과'}, inplace=True)

In [72]:
df_freshman.head()

   기준연도         학교     단과대학      학과  정원내\n신입생 충원율(%)\n(D/B) × 100  경쟁률\n(C/B)
0  2023  가톨릭관동대학교      의과대학    간호학과                          99.0         7.7
1  2023  가톨릭관동대학교      사범대학   국어교육과                         100.0         5.7
2  2023  가톨릭관동대학교   단과대구분없음  기타모집단위                           0.0         0.0
3  2023  가톨릭관동대학교   휴먼서비스대학  산림치유학과                         100.0         1.6
4  2023  가톨릭관동대학교      사범대학   수학교육과                         100.0         3.6

In [2]:
# 특수기호 제거 + 공백 제거 함수 / 텍스트 정리
def clean_text_columns(df, columns):
    for col in columns:
        df[col] = df[col].astype(str)
        df[col] = df[col].str.replace('·', '', regex=False)
        df[col] = df[col].str.replace('・', '', regex=False)
        df[col] = df[col].str.replace('?', '', regex=False)
        df[col] = df[col].str.strip()
    return df

# 전처리 적용
df_freshman = clean_text_columns(df_freshman, ['학교', '학과', '기준연도','단과대학'])
df_dropout = clean_text_columns(df_dropout, ['학교', '학과', '기준연도','단과대학'])

# 병합
df_merged = pd.merge(
    df_freshman,
    df_dropout,
    on=['학교', '학과', '기준연도','단과대학'],
    how='outer'
)

In [ ]:
# df_merged = df_merged.drop(columns=[col for col in df_merged.columns if '단과대학' in col])

In [3]:
df_merged = df_merged.drop(columns = '기준연도')

In [ ]:
#df_merged.to_excel("07151353 슝.xlsx", index =True)
#신입생 파트 nan => 폐과된 과
#이름이 유사한 학과 => 공시할 때 학교에서 그렇게 올림 일일이 맞추기엔 원주대처럼 하나하나 비교해야함

### 졸업생 취업률 및 진학률 병합하기

In [ ]:
#졸업생 결과물 불러오기
df_gradu = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\졸업생 취업률 진학률\0715 취업률및진학률 재시도.xlsx")

In [3]:
df_gradu.head()

          학교  단과대학       학과  졸업생 취업률(%)  졸업생 진학률(%)
0  가톨릭관동대학교   경영대학   경제금융학과        50.0         0.0
1  가톨릭관동대학교   경영대학     무역학과        50.0         0.0
2  가톨릭관동대학교   공과대학   건축공학전공        56.5         8.0
3  가톨릭관동대학교   공과대학    건축학전공        78.3         2.1
4  가톨릭관동대학교   공과대학  소프트웨어학과        43.1         0.0

In [7]:
#열 이름 정리하기
df_gradu.rename(columns={'학과정보 학과명 학과명': '학과'}, inplace=True)
# df_gradu.rename(columns={'졸업상황 취업률(%) 취업률_계': '졸업생 취업률(%)'}, inplace=True)
# df_gradu.rename(columns={'졸업상황 진학률 (%) 진학률_계': '졸업생 진학률(%)'}, inplace=True)

In [ ]:
#필요없는 열 정리하기
# df_gradu.drop(columns = '학교 기본 정보 학교명', inplace = True)

In [8]:
df_gradu['학교'].unique()

array(['가톨릭관동대학교 ', '경동대학교 ', '경동대학교 _제3캠퍼스', '경동대학교 _제4캠퍼스', '상지대학교 ',
       '연세대학교(미래) _분교', '한라대학교 ', '한림대학교 ', '강원대학교 ', '강원대학교 _제2캠퍼스',
       '경북대학교 ', '경상국립대학교 ', '국립강릉원주대학교 ', '국립강릉원주대학교 _제2캠퍼스', '부산대학교 ',
       '전남대학교 ', '전남대학교 _제2캠퍼스', '전북대학교 ', '제주대학교 ', '충남대학교 ', '충북대학교 '],
      dtype=object)

In [9]:
df_gradu.head()

          학교  단과대학       학과  졸업생 취업률(%)  졸업생 진학률(%)
0  가톨릭관동대학교   경영대학   경제금융학과        50.0         0.0
1  가톨릭관동대학교   경영대학     무역학과        50.0         0.0
2  가톨릭관동대학교   공과대학   건축공학전공        56.5         8.0
3  가톨릭관동대학교   공과대학    건축학전공        78.3         2.1
4  가톨릭관동대학교   공과대학  소프트웨어학과        43.1         0.0

In [10]:
#학과 열 텍스트 정리하기
df_gradu_clean = clean_text_columns(df_gradu, ['학교','학과','단과대학'])

In [11]:
# 병합
df_merged_freshman_dropout_gradu = pd.merge(
    df_merged,
    df_gradu_clean,
    on=['학교', '학과','단과대학'],
    how='outer'
)

In [12]:
df_merged_freshman_dropout_gradu

,학교,단과대학,학과,정원내\n신입생 충원율(%)\n(D/B) × 100,경쟁률\n(C/B),중도탈락학생비율(%)\n(B/A) × 100,졸업생 취업률(%),졸업생 진학률(%)
0,가톨릭관동대학교,미디어예술대학,CG디자인전공,NaN,NaN,3.1,40.6,0.0
1,가톨릭관동대학교,트리니티자유대학,CG디자인전공,NaN,NaN,0.0,NaN,NaN
2,가톨릭관동대학교,미디어예술대학,CG디자인학과,NaN,NaN,5.0,NaN,NaN
3,가톨릭관동대학교,방송문화예술대학,CG디자인학전공,NaN,NaN,0.0,NaN,NaN
4,가톨릭관동대학교,사범대학,가정교육과,NaN,NaN,12.5,85.7,0.0
...,...,...,...,...,...,...,...,...
2212,한림대학교,공과대학,컴퓨터공학과,NaN,NaN,23.5,75.0,33.3
2213,한림대학교,정보과학대학,콘텐츠IT전공,NaN,NaN,1.9,52.0,10.3
2214,한림대학교,글로벌융합대학,한중통번역전공,NaN,NaN,10.0,NaN,NaN
2215,한림대학교,자연과학대학,화학과,100.0,4.7,7.7,60.7,21.6
2216,한림대학교,자연과학대학,환경생명공학과,97.4,6.0,4.2,77.8,3.6

### 캡스톤디자인 병합하기

In [13]:
#캡스톤디자인 결과물 파일 불러오기
df_cap = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\캡스톤디자인\0715 2023 캡디.xlsx")

In [189]:
df_cap.head()

          학교       단과대학 학과\n(전공)  해당학과 평균 이수학생수  타계열 평균 이수학생수
0  가톨릭관동대학교   VERUM교양대학      교양과            0.0           0.0
1  가톨릭관동대학교        경영대학   경영정보학과            0.0           0.0
2  가톨릭관동대학교        경영대학     경영학과            0.0           0.0
3  가톨릭관동대학교        경영대학   경제금융학과            0.0           0.0
4  가톨릭관동대학교        경영대학   광고홍보학과            0.0           0.0

In [ ]:
# #열 이름 정리하기
# df_cap.rename(columns = {'해당학과 평균 이수학생수' : '캡스톤 디자인 해당학과 평균 이수학생수'}, inplace = True)
# df_cap.rename(columns = {'타계열 평균 이수학생수' : '캡스톤 디자인 타계열 평균 이수학생수'}, inplace = True)

In [15]:
df_cap.rename(columns = {'학과\n(전공)' : '학과'}, inplace = True)

In [16]:
#학교, 학과 텍스트 정리하기
df_cap_clean = clean_text_columns(df_cap, ['학교','학과','단과대학'])

In [17]:
df_cap_clean

,학교,단과대학,학과,캡스톤 디자인 해당학과 평균 이수학생수,캡스톤 디자인 타계열 평균 이수학생수
0,가톨릭관동대학교,VERUM교양대학,교양과,0.0,0.0
1,가톨릭관동대학교,경영대학,경영정보학과,0.0,0.0
2,가톨릭관동대학교,경영대학,경영학과,0.0,0.0
3,가톨릭관동대학교,경영대학,경제금융학과,0.0,0.0
4,가톨릭관동대학교,경영대학,광고홍보학과,0.0,0.0
...,...,...,...,...,...
3370,한림대학교,정보과학대학,소프트웨어학부,90.0,27.5
3371,한림대학교,정보과학대학,스마트IoT전공,0.0,0.0
3372,한림대학교,정보과학대학,인공지능융합학부,0.0,0.0
3373,한림대학교,정보과학대학,임상의학통계전공,0.0,0.0
3374,한림대학교,정보과학대학,콘텐츠IT전공,0.0,0.0

In [18]:
#병합하기 

df_merged_freshman_dropout_gradu_cap = pd.merge(
    df_merged_freshman_dropout_gradu,
    df_cap_clean,
    on=['학교', '학과','단과대학'],
    how='outer'
)

In [19]:
df_merged_freshman_dropout_gradu_cap

,학교,단과대학,학과,정원내\n신입생 충원율(%)\n(D/B) × 100,경쟁률\n(C/B),중도탈락학생비율(%)\n(B/A) × 100,졸업생 취업률(%),졸업생 진학률(%),캡스톤 디자인 해당학과 평균 이수학생수,캡스톤 디자인 타계열 평균 이수학생수
0,가톨릭관동대학교,단과대구분없음,CG디자인전공,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,가톨릭관동대학교,미디어예술대학,CG디자인전공,NaN,NaN,3.1,40.6,0.0,0.0,0.0
2,가톨릭관동대학교,트리니티자유대학,CG디자인전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0
3,가톨릭관동대학교,미디어예술대학,CG디자인학과,NaN,NaN,5.0,NaN,NaN,17.5,0.0
4,가톨릭관동대학교,방송문화예술대학,CG디자인학전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
3415,한림대학교,단과대구분없음,한중비즈니스전공,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3416,한림대학교,글로벌융합대학,한중통번역전공,NaN,NaN,10.0,NaN,NaN,0.0,0.0
3417,한림대학교,산학협력특성화대학,헬스케어진단전공,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3418,한림대학교,자연과학대학,화학과,100.0,4.7,7.7,60.7,21.6,0.0,0.0
3419,한림대학교,자연과학대학,환경생명공학과,97.4,6.0,4.2,77.8,3.6,0.0,0.0

### 연구실적 병합하기

In [20]:
#연구실적 파일 불러오기
df_research_result = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\교원 1인당 연구실적\0715 교원연구실적.xlsx")

In [ ]:
#학교 리스트 확인
df_research_result['학교'].unique()

array(['강원대학교', '강원대학교 _제2캠퍼스', '경북대학교', '경상국립대학교', '국립강릉원주대학교',
       '국립강릉원주대학교 _제2캠퍼스', '부산대학교', '전남대학교', '전남대학교 _제2캠퍼스', '전북대학교',
       '제주대학교', '충남대학교', '충북대학교', '가톨릭관동대학교', '경동대학교', '경동대학교 _제3캠퍼스',
       '경동대학교 _제4캠퍼스', '상지대학교', '연세대학교(미래) _분교', '한라대학교', '한림대학교'],
      dtype=object)

In [22]:
#하교, 학과 텍스트 정리하기
df_research_result_clean = clean_text_columns(df_research_result, ['학교','학과','단과대학'])

In [23]:
#필요없는 열 정리하기
df_research_result_clean.drop(columns = ['기준연도'], inplace = True)

In [ ]:
#병합하기
df_merged_freshman_dropout_gradu_cap_research_result = pd.merge(
    df_merged_freshman_dropout_gradu_cap,
    df_research_result_clean,
    on=['학교', '학과','단과대학'],
    how='outer'
)

In [201]:
df_merged_freshman_dropout_gradu_cap_research_result.head()

,학교,단과대학,학과,정원내\n신입생 충원율(%)\n(D/B) × 100,경쟁률\n(C/B),중도탈락학생비율(%)\n(B/A) × 100,졸업생 취업률(%),졸업생 진학률(%),캡스톤 디자인 해당학과 평균 이수학생수,캡스톤 디자인 타계열 평균 이수학생수,...,전임교원 1인당 논문 실적 국제\n기준 여,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 계,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 남,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 여,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 계,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 남,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 여,전임교원 1인당 저∙역서 실적 계,전임교원 1인당 저∙역서 실적 남,전임교원 1인당 저∙역서 실적 여
0,가톨릭관동대학교,단과대구분없음,CG디자인전공,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가톨릭관동대학교,미디어예술대학,CG디자인전공,NaN,NaN,3.1,40.6,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,가톨릭관동대학교,트리니티자유대학,CG디자인전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가톨릭관동대학교,미디어예술대학,CG디자인학과,NaN,NaN,5.0,NaN,NaN,17.5,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,가톨릭관동대학교,방송문화예술대학,CG디자인학전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 연구비 수혜 실적 병합하기

In [25]:
#연구비 수혜 실적 파일 불러오기
df_research_money = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\교원1인당 연구비\0715 연구비.xlsx")

In [26]:
df_research_money.head()

   기준연도      학교  단과대학       학과  1인당 연구비(천원)
0  2023  강원대학교   인문대학  영어영문학전공         0.00
1  2023  강원대학교   경영대학  정보통계학전공     28591.43
2  2023  강원대학교   인문대학  국어국문학전공      6712.00
3  2023  강원대학교   인문대학    일본학전공         0.00
4  2023  강원대학교   IT대학    전자공학과    406160.83

In [ ]:
#학교 리스트 확인
df_research_money['학교'].unique()

array(['강원대학교 ', '강원대학교 _제2캠퍼스', '경북대학교 ', '경상국립대학교 ', '국립강릉원주대학교 ',
       '국립강릉원주대학교 _제2캠퍼스', '부산대학교 ', '전남대학교 ', '전남대학교 _제2캠퍼스', '전북대학교 ',
       '제주대학교 ', '충남대학교 ', '충북대학교 ', '가톨릭관동대학교 ', '경동대학교 ',
       '경동대학교 _제3캠퍼스', '경동대학교 _제4캠퍼스', '상지대학교 ', '연세대학교(미래) _분교',
       '한라대학교 ', '한림대학교 '], dtype=object)

In [28]:
#학교, 학과 텍스트 정리하기
df_research_money_clean = clean_text_columns(df_research_money, ['학교','학과','단과대학'])

In [29]:
#필요없는 열 제거하기
df_research_money_clean = df_research_money_clean.drop(columns = ['기준연도'])

In [30]:
df_research_money_clean

         학교    단과대학        학과  1인당 연구비(천원)
0     강원대학교    인문대학   영어영문학전공         0.00
1     강원대학교    경영대학   정보통계학전공     28591.43
2     강원대학교    인문대학   국어국문학전공      6712.00
3     강원대학교    인문대학     일본학전공         0.00
4     강원대학교    IT대학     전자공학과    406160.83
...     ...     ...       ...          ...
1167  한림대학교  자연과학대학    식품영양학과    388886.67
1168  한림대학교  자연과학대학       화학과     49709.60
1169  한림대학교  자연과학대학  바이오메디컬학과    100669.00
1170  한림대학교  자연과학대학     생명과학과    193717.00
1171  한림대학교  자연과학대학    언어청각학부     90177.00

[1172 rows x 4 columns]

In [31]:
#병합하기
df_merged_freshman_dropout_gradu_cap_research_result_and_money = pd.merge(
    df_merged_freshman_dropout_gradu_cap_research_result,
    df_research_money_clean,
    on=['학교', '학과','단과대학'],
    how='outer'
)

In [32]:
df_merged_freshman_dropout_gradu_cap_research_result_and_money.head()

,학교,단과대학,학과,정원내\n신입생 충원율(%)\n(D/B) × 100,경쟁률\n(C/B),중도탈락학생비율(%)\n(B/A) × 100,졸업생 취업률(%),졸업생 진학률(%),캡스톤 디자인 해당학과 평균 이수학생수,캡스톤 디자인 타계열 평균 이수학생수,...,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 계,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 남,전임교원 1인당 논문 실적 연구재단등재지(후보포함) 여,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 계,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 남,전임교원 1인당 논문 실적 SCI급/SCOPUS학술지 여,전임교원 1인당 저∙역서 실적 계,전임교원 1인당 저∙역서 실적 남,전임교원 1인당 저∙역서 실적 여,1인당 연구비(천원)
0,가톨릭관동대학교,단과대구분없음,CG디자인전공,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가톨릭관동대학교,미디어예술대학,CG디자인전공,NaN,NaN,3.1,40.6,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,가톨릭관동대학교,트리니티자유대학,CG디자인전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가톨릭관동대학교,미디어예술대학,CG디자인학과,NaN,NaN,5.0,NaN,NaN,17.5,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,98881.5
4,가톨릭관동대학교,방송문화예술대학,CG디자인학전공,NaN,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 전임교원강의비율 병합하기

In [33]:
#전임교원강의비율 파일 불러오기
df_class = pd.read_excel(r"C:\Users\윤서현\Desktop\국립강릉원주대 AI STUDIO\데이터정리\학과경쟁력분석\전임교원 강의 비율\0715 강의비율 재시도.xlsx")

In [34]:
df_class.head()

,기준연도,학교,단과대학,학과(전공),학기,전임교원 비율,정규학기 전임교원 비율 평균,계절학기 전임교원 비율 평균,전체학기 전임교원 비율 평균
0,2023,강원대학교_본교,간호대학,간호학과,1학기,72.6,68.05,NaN,68.05
1,2023,강원대학교_본교,간호대학,간호학과,2학기,63.5,68.05,NaN,68.05
2,2023,강원대학교_본교,경영대학,경영·회계학부,1학기,94.6,93.90,NaN,93.90
3,2023,강원대학교_본교,경영대학,경영·회계학부,2학기,93.2,93.90,NaN,93.90
4,2023,강원대학교_본교,경영대학,경영학전공,1학기,54.5,56.80,83.35,70.08

In [ ]:
#학과로 컬럼명 통일
df_class.rename(columns = {'학과(전공)' : '학과'}, inplace = True)

In [ ]:
#같은 단과대학명 통일
df_class['단과대학'] = df_class['단과대학'].replace('트리니티자유대', '트리니티자유대학')

In [ ]:
#학교 리스트 확인
df_class['학교'].unique()

array(['강원대학교_본교', '강원대학교_제2캠퍼스', '경북대학교_본교', '경상국립대학교_본교',
       '국립강릉원주대학교_본교', '국립강릉원주대학교_제2캠퍼스', '부산대학교_본교', '전남대학교_본교',
       '전남대학교_제2캠퍼스', '전북대학교_본교', '제주대학교_본교', '충남대학교_본교', '충북대학교_본교',
       '가톨릭관동대학교_본교', '경동대학교_본교', '경동대학교_제3캠퍼스', '경동대학교_제4캠퍼스',
       '상지대학교_본교', '연세대학교(미래)_분교', '한라대학교_본교', '한림대학교_본교'], dtype=object)

In [ ]:
#텍스트 정리
df_class_clean = clean_text_columns(df_class, ['학교','학과','단과대학'])

In [ ]:
#학교명 통일
campus_mapping2 = {
    '강원대학교': '강원대학교_본교',
    '강원대학교 _제2캠퍼스': '강원대학교_제2캠퍼스',
    '경북대학교': '경북대학교_본교',
    '경상국립대학교': '경상국립대학교_본교',
    '국립강릉원주대학교': '국립강릉원주대학교_본교',
    '국립강릉원주대학교 _제2캠퍼스': '국립강릉원주대학교_제2캠퍼스',
    '부산대학교': '부산대학교_본교',
    '전남대학교': '전남대학교_본교',
    '전남대학교 _제2캠퍼스': '전남대학교_제2캠퍼스',
    '전북대학교': '전북대학교_본교',
    '제주대학교': '제주대학교_본교',
    '충남대학교': '충남대학교_본교',
    '충북대학교': '충북대학교_본교',
    '가톨릭관동대학교': '가톨릭관동대학교_본교',
    '경동대학교': '경동대학교_본교',
    '경동대학교 _제3캠퍼스': '경동대학교_제3캠퍼스',
    '경동대학교 _제4캠퍼스': '경동대학교_제4캠퍼스',
    '상지대학교': '상지대학교_본교',
    '연세대학교(미래) _분교': '연세대학교(미래)_분교',
    '한라대학교': '한라대학교_본교',
    '한림대학교': '한림대학교_본교'

}

In [40]:
# 기존 딕셔너리를 자동 반전
campus_mapping2_reversed = {v: k for k, v in campus_mapping2.items()}

In [41]:
# 매핑 적용
df_class_clean['표준화된_학교명'] = df_class_clean['학교'].map(campus_mapping2_reversed)

In [ ]:
# 전임교원 강의비율 데이터에서 필요한 열만 선택 후 그룹별 대표값 하나만 남기기
df_class_clean_plus = df_class_clean.groupby(['표준화된_학교명', '학과','단과대학'], as_index=False)[
    ['정규학기 전임교원 비율 평균', '계절학기 전임교원 비율 평균', '전체학기 전임교원 비율 평균']
].first()

In [ ]:
#학교로 컬럼명 통일
df_class_clean_plus.rename(columns = {'표준화된_학교명': '학교'}, inplace = True)

In [44]:
df_class_clean_plus.head()

,학교,학과,단과대학,정규학기 전임교원 비율 평균,계절학기 전임교원 비율 평균,전체학기 전임교원 비율 평균
0,가톨릭관동대학교,CG디자인전공,단과대구분없음,0.00,NaN,0.00
1,가톨릭관동대학교,CG디자인전공,미디어예술대학,100.00,NaN,100.00
2,가톨릭관동대학교,CG디자인전공,트리니티자유대학,0.00,NaN,0.00
3,가톨릭관동대학교,CG디자인학과,미디어예술대학,39.15,NaN,39.15
4,가톨릭관동대학교,가정교육과,사범대학,88.90,NaN,88.90

In [45]:
#병합하기
df_merged_final_before_one = pd.merge(
    df_merged_freshman_dropout_gradu_cap_research_result_and_money,
    df_class_clean_plus,
    on=['학교', '학과','단과대학'],
    how='outer'
)

### 엑셀로 추출하기

In [ ]:
#df_merged_final_before_one.to_excel("엑셀파일저장명.xlsx",index=False)